.display {
   background-color: #0005;
   grid-column: 4 span;
   display: flex;
   justify-content: flex-end;
   font-size: 1.5em;
   align-items: center;
   text-transform: uppercase;
   letter-spacing: 10px;
   margin-bottom: 8px;
   overflow-x: auto;
}
