* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
   color: #ccc;
   background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
}

body h1 {
   margin-bottom: 20px;
}

